/* Ajay Sharma | Student Number: asharma6495 */

html {
    /* Font shorthand: style variant weight size/line-height family */
    font: normal small-caps 400 20px/1.5 'Segoe UI', sans-serif;
    /* background color */
    background-color: #f9f9f9;
}

body {
    /* Limit the body's width and center the content using margin */
    max-width: 1200px;
    margin: 0 auto;
    /* Add padding inside the body using rem units */
    padding: 2rem;
    /* Apply border */
    border: 0.1rem solid #cccccc;
    /* Set the body's background color */
    background-color: #ffffff;
}

main {
    /* Float to the left */
    float: left;
    width: 65%;
    padding: 1.5rem;
}

aside {
    /* Float to the right */
    float: right;
    width: 25%;
    padding: 1.5rem;
}

footer {
    /* Clear the float to ensure footer remains below main and aside */
    clear: both;
}

header,
footer {
    /* Set the background gradient */
    background: linear-gradient(to right, #ff5673, #813c3c);
    /* Set the text color and make it center aligned */
    text-align: center;
    color: white;
    padding: 1rem;
}

header h1 {
    /* Increase the font size of the header text*/
    font-size: 2.5rem;
}

footer p {
    /* Decrease the font size of the footer text */
    font-size: 0.9rem;
}

section h2 {
    font-variant: small-caps;
    font-style: italic;
    font-weight: 600;
    font-family: Georgia, serif;
    color: #ff5673;
    text-align: center;
}

blockquote {
    /* italicize the text*/
    font-style: italic;
    /* a light background color */
    background-color: #f0f0f0;
    padding: 1rem;
    /* Add a left border to the blockquote */
    border-left: 0.5rem solid #cccccc;
    width: 80%;
    margin: 2rem auto;
    /* Add a shadow effect: horizontal offset, vertical offset, blur, color */
    box-shadow: 0 0.3rem 0.6rem #0000001a;
}

figure {
    border: 0.2rem solid #cccccc;
    /* Set the border radius to create rounded corners using rem units */
    border-radius: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    text-align: center;
}

img {
    display: block;
    width: 90%;
    margin: 0 auto;
    border: 0.1rem solid #bbbbbb;
    border-radius: 0.5rem;
}

figcaption {
    /* Decrease the font size of the caption text */
    font-size: 0.8rem;
    /* changing font variant to small caps */
    font-variant: small-caps;
}