/* Ajay Sharma | Student Number: asharma6495 */

html {
    /* Font shorthand: style variant weight size/line-height family */
    font: normal small-caps 400 20px/1.5 'Segoe UI', sans-serif;
    /* background color */
    background-color: #f9f9f9;
}

body {
    /* Limit the body's width and center the content using margin */
    max-width: 1200px;
    margin: 0 auto;
    /* Add padding inside the body using rem units */
    padding: 2rem;
    /* Apply border */
    border: 0.1rem solid #cccccc;
    /* Set the body's background color */
    background-color: #ffffff;
}